
<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend> {{ title }} </legend>
    <!-- TITLE -->
    <div class='form-group'> 
        <label for='playlist-title'>Title</label><br>
        <input id='playlist-title' type='text' name='title' value='{{ playlist.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'> 
        <label for='description'>Description</label><br>
        <input id='description' type='text' name='description' value='{{ playlist.description }}' />
    </div>

    <!-- VIDEO LINKS -->
    <div class='form-group'> 
        <label for='playlist-videos'>Videos</label><br>
        <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea id='playlist-videos' name='videos' rows='10' />{{ "\n".join(playlist.videos) }}</textarea>
    </div>

    <div class='form-group'> 
    <label for='playlist-rating'> Rate : </label><br>

    <select name='stars'>
        <option value="⭐️">⭐️</option>
            <br>
        <option value="⭐️⭐️"> ⭐️ ⭐️ </option>
            <br>
        <option value="⭐️⭐️⭐️"> ⭐️ ⭐️ ⭐️ </option>
            <br>
        <option value="⭐️⭐️⭐️⭐️"> ⭐️ ⭐️ ⭐️ ⭐️ </option>
            <br>
        <option value="⭐️⭐️⭐️⭐️⭐️"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </option>
    </select>
    </div>




</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save Playlist</button>
</p>

<p>
    <a href='/'> Cancel </a>
</p>
