<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

<!-- page is liking to creating a new playlist and also showing the reult saved playlist -->

{% block content %}
    <h1>Playlists</h1>

    <!-- sending user to new html page link -->
    <a href='/playlists/new'> New Playlist</a>

    {% for playlist in playlists %}

        <h2><a href='/playlists/{{playlist._id}}'>'{{ playlist.title }}</a></h2>
        <small>{{ playlist.description }}<br></small>
        <small>{{ playlist.videos }} <br> </small>
        <small>{{ playlist.stars }}<br></small>
    {% endfor %}
{% endblock %}
